.git
.gitignore
.gitattributes
.github
.gitlab
.gitlab-ci.yml
.editorconfig
.env
.env.backup
.env.*.local
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
auth.json
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing
bootstrap/cache/*
coverage
npm-debug.log
yarn-error.log
.npmrc
